# Tarefa 03

In [91]:
import numpy as np
import pandas as pd

In [92]:
Tabela = pd.DataFrame({'lº' : np.linspace(5.,85.,17)})
Tabela

      lº
0    5.0
1   10.0
2   15.0
3   20.0
4   25.0
5   30.0
6   35.0
7   40.0
8   45.0
9   50.0
10  55.0
11  60.0
12  65.0
13  70.0
14  75.0
15  80.0
16  85.0

In [93]:
Tabela['Vsun_r(km/s)'] = [53.5,77.7,144.4,127.4,118.1,112.8,108.9,96.3,82.6,80.3,72.5,47.9,33.0,34.6,26.4,35.3,27.4]
Tabela['ErrVsun_r'] = [8.5,8.5,8.5,8.5,8.5,4.2,4.2,8.5,4.2,4.2,8.5,4.2,4.2,8.5,8.5,4.2,8.5]
Tabela

      lº  Vsun_r(km/s)  ErrVsun_r
0    5.0          53.5        8.5
1   10.0          77.7        8.5
2   15.0         144.4        8.5
3   20.0         127.4        8.5
4   25.0         118.1        8.5
5   30.0         112.8        4.2
6   35.0         108.9        4.2
7   40.0          96.3        8.5
8   45.0          82.6        4.2
9   50.0          80.3        4.2
10  55.0          72.5        8.5
11  60.0          47.9        4.2
12  65.0          33.0        4.2
13  70.0          34.6        8.5
14  75.0          26.4        8.5
15  80.0          35.3        4.2
16  85.0          27.4        8.5

In [94]:
# Velocities Coskunoglu et. al. 
u_sun = 8.50
v_sun = 13.38
w_sun = 6.49
V1 = np.sqrt(u_sun**2.+v_sun**2.+w_sun**2.)
Vl = (V1-Vsun)*np.sin(np.radians(Tabela['lº']))
Tabela['Vlsr'] = Tabela['Vsun_r(km/s)'] - Vl
Tabela

      lº  Vsun_r(km/s)  ErrVsun_r        Vlsr
0    5.0          53.5        8.5   71.181393
1   10.0          77.7        8.5  112.928221
2   15.0         144.4        8.5  196.906940
3   20.0         127.4        8.5  196.786050
4   25.0         118.1        8.5  203.837090
5   30.0         112.8        4.2  214.235619
6   35.0         108.9        4.2  225.262162
7   40.0          96.3        8.5  226.703118
8   45.0          82.6        4.2  226.051628
9   50.0          80.3        4.2  235.708384
10  55.0          72.5        8.5  238.682389
11  60.0          47.9        4.2  223.591645
12  65.0          33.0        4.2  216.863782
13  70.0          34.6        8.5  225.236605
14  75.0          26.4        8.5  222.358568
15  80.0          35.3        4.2  235.089168
16  85.0          27.4        8.5  229.499251

In [95]:
Rt = Rsun*np.sin(np.radians(Tabela['lº']))
Tabela['Rt'] = Rt

In [96]:
Vsun = 220
ErrVsun = 15
Tabela['V(Rt)'] = Tabela['Vsun_r(km/s)'] + Vsun*np.sin(np.radians(Tabela['lº']))
Tabela

      lº  Vsun_r(km/s)  ErrVsun_r        Vlsr        Rt       V(Rt)
0    5.0          53.5        8.5   71.181393  0.740824   72.674263
1   10.0          77.7        8.5  112.928221  1.476010  115.902599
2   15.0         144.4        8.5  196.906940  2.199962  201.340190
3   20.0         127.4        8.5  196.786050  2.907171  202.644432
4   25.0         118.1        8.5  203.837090  3.592255  211.076018
5   30.0         112.8        4.2  214.235619  4.250000  222.800000
6   35.0         108.9        4.2  225.262162  4.875400  235.086816
7   40.0          96.3        8.5  226.703118  5.463695  237.713274
8   45.0          82.6        4.2  226.051628  6.010408  238.163492
9   50.0          80.3        4.2  235.708384  6.511378  248.829777
10  55.0          72.5        8.5  238.682389  6.962792  252.713450
11  60.0          47.9        4.2  223.591645  7.361216  238.425589
12  65.0          33.0        4.2  216.863782  7.703616  232.387713
13  70.0          34.6        8.5  225.236605  7.987387  241.332377
14  75.0          26.4        8.5  222.358568  8.210370  238.903682
15  80.0          35.3        4.2  235.089168  8.370866  251.957706
16  85.0          27.4        8.5  229.499251  8.467655  246.562834

In [97]:
Rsun = 8.5
OmegSun = Vsun/Rsun
Omega = OmegSun + Tabela['V(Rt)']/(Rsun*np.sin(np.radians(Tabela['lº'])))
Omega

0     123.981607
1     104.406643
2     117.402207
3      95.587374
4      84.640989
5      78.305882
6      74.101336
7      69.390142
8      65.507534
9      64.096965
10     62.177195
11     58.271783
12     56.048408
13     56.096535
14     54.980152
15     55.981713
16     55.000549
dtype: float64

In [98]:
R = Tabela['V(Rt)']/Omega
print R
print OmegSun

0     0.586170
1     1.110108
2     1.714961
3     2.119992
4     2.493780
5     2.845252
6     3.172504
7     3.425750
8     3.635666
9     3.882084
10    4.064407
11    4.091613
12    4.146196
13    4.302091
14    4.345271
15    4.500714
16    4.482916
dtype: float64
25.8823529412